@page
@model ToDoApplication_RazorPages.Pages.TodoItems.DeleteModel

<form method="post">
    <input hidden asp-for="TodoItem.Id" />
    <div class="p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-dark">Delete Task</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="TodoItem.Name"></label>
            <input asp-for="TodoItem.Name" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="TodoItem.Description"></label>
            <input asp-for="TodoItem.Description" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="TodoItem.DateAndTime"></label>
            <input asp-for="TodoItem.DateAndTime" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="TodoItem.Priority"></label>
            <select asp-for="TodoItem.Priority" disabled class="form-select" aria-label="Priority">
                <option value="" selected>Select a priority</option>
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
            </select>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" disabled type="checkbox" asp-for="TodoItem.isDone">
                <label class="form-check-label" asp-for="TodoItem.isDone"></label>
            </div>
        </div>
        <button type="submit" class="btn btn-dark" style="width:150px">
            Delete
        </button>
        <a asp-page="Index" class="btn btn-danger" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}